{% extends 'include/base_table.html' %}
{% load static %}

<div class="my_table">
    <table class="table table-bordered">
        {% block table_head %}
            {% for title in head %}
                <th class="text_button">{{ title }}</th>
            {% endfor %}
        {% endblock %}

        {% block table_content %}
            {% for content_list in table %}
                <tr>
                    <td>
                        <a href="{% url 'report_revenue_description' month_id=content_list.month %}"
                           class="btn btn-outline-primary text_button">{{ content_list.month_year }}</a>
                    </td>
                    <td class="text_button">{{ content_list.summ_revenue }}</td>
                </tr>
            {% endfor %}
        {% endblock %}
    </table>
</div>