{% extends 'include/base_table.html' %}
{% load static %}

<div class="my_table">
    <table class="table table-bordered">
        {% block table_head %}
            {% for title in head %}
                <th class="text_button">{{ title }}</th>
            {% endfor %}
        {% endblock %}

        {% block table_content %}
            {% for content_list in table %}
                <tr>
                    <td class="text_button">{{ content_list.service_name }}</td>
                    <td class="text_button">{{ content_list.popularity }}</td>
                </tr>
            {% endfor %}
        {% endblock %}
    </table>
</div>