{% extends 'include/base.html' %}
{% load static %}

{% block title %}
    <div class="title_block">
        <h2 class="title">{{ title_page }}</h2>
    </div>
{% endblock title %}

{% block content %}
    <div class="list_button_block">
        {% include 'include/tables/client_table.html' %}
        {% for content_list in table %}
            {% if content_list.is_active %}
                <a class="btn btn-danger text_button"
                    href="{% url 'delete_client' client_id=content_list.id type_delete=1%}">Удалить пользователя</a>
            {% else %}
                <a class="btn btn-primary text_button"
                   href="{% url 'delete_client' client_id=content_list.id type_delete=0%}">Разбанить пользователя</a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}
