{% extends 'include/base.html' %}
{% load static %}

{% block title %}
    <div class="title_block">
        <h2 class="title">{{ title_page }}</h2>
    </div>
{% endblock title %}

{% block content %}
    <div class="list_button_block">
        {% include 'include/tables/rating_table.html' %}
        {% for content_list in table %}
            <a class="btn btn-danger text_button"
               href="{% url 'delete_rating' rating_id=content_list.rating_id %}">Удалить отзыв</a>
        {% endfor %}
    </div>
{% endblock content %}
